<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./Tests/bootstrap.php" color="true">

    <testsuites>
        <testsuite name="WowoNewsletterBundle test suite">
            <directory suffix="Test.php">./Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <blacklist>
            <directory>./Resources</directory>
            <directory>./Tests</directory>
            <directory>./DataFixtures</directory>
            <directory>./vendor</directory>
        </blacklist>
    </filter>
</phpunit>
