<?php

// Symfony dependencies
require_once VENDOR_DIR.'/symfony/src/Symfony/Component/ClassLoader/UniversalClassLoader.php';
use Symfony\Component\ClassLoader\UniversalClassLoader;
$loader = new UniversalClassLoader();
$loader->registerNamespaces(array(
    'Symfony'          => array(VENDOR_DIR.'/symfony/src'),
    'Doctrine\\Common' => array(VENDOR_DIR.'/doctrine-common/lib'),
    'Doctrine\\DBAL'   => array(VENDOR_DIR.'/doctrine-dbal/lib'),
    'Doctrine'         => array(VENDOR_DIR.'/doctrine/lib'),
    'Wowo' => array(VENDOR_DIR.'/bundles'),
));
$loader->register();

// Swiftmailer autoloader
require_once VENDOR_DIR.'/swiftmailer/lib/classes/Swift.php';
Swift::registerAutoload(VENDOR_DIR.'/swiftmailer/lib/swift_init.php');


// Proxy object bootstrap
require_once VENDOR_DIR . '/proxy-object/bootstrap.php';

// Mockery class loader
set_include_path(get_include_path() . PATH_SEPARATOR . VENDOR_DIR . '/mockery/library/');
require_once('Mockery/Loader.php');
$loader = new \Mockery\Loader;
$loader->register();

// Some nifty namespaces taking care of (borrowed from FOSUserBundle)
spl_autoload_register(function($class) {
    if (0 === strpos($class, 'Wowo\\Bundle\\NewsletterBundle')) {
        $path = __DIR__.'/../'.implode('/', array_slice(explode('\\', $class), 3)).'.php';
        if (!stream_resolve_include_path($path)) {
            return false;
        }
        require_once $path;
        return true;
    }
});

