<h1>{% trans %}Create mailing{% endtrans %}</h1>
<form action="" method="post">
  <textarea name="mailingBody"></textarea><br/>
  <input type="submit" value="{% trans %}Send mailing{% endtrans %}" />
</form>
