#wowo_bundle_newsletterbundle_newslettertype_mailing_sendDate select {width: 50px; margin: 0 5px;}
#wowo_bundle_newsletterbundle_newslettertype_mailing_sendDate div {display: inline;}
#wowo_bundle_newsletterbundle_newslettertype div {padding: 5px;}
